USE [master]
GO
/****** Object:  Database [gasino]    Script Date: 12/19/2025 4:52:51 PM ******/
CREATE DATABASE [gasino]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'gasino', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\gasino.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'gasino_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\gasino_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [gasino].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [gasino]
GO
/****** Object:  Table [dbo].[BotChat]    Script Date: 12/19/2025 4:52:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BotChat](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BotId] [bigint] NOT NULL,
	[ChatId] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GameHistorys]    Script Date: 12/19/2025 4:52:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GameHistorys](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Status] [int] NOT NULL,
	[Time] [datetime2](7) NOT NULL,
	[ClosingTime] [datetime2](7) NULL,
	[EndTime] [datetime2](7) NULL,
	[GroupId] [bigint] NOT NULL,
	[MessageThreadId] [int] NULL,
	[MessageId] [int] NOT NULL,
	[CommissionRate] [decimal](18, 2) NOT NULL,
	[Profit] [decimal](18, 2) NOT NULL,
	[BetAmount] [decimal](18, 2) NOT NULL,
	[RewardInviterAmount] [decimal](18, 2) NOT NULL,
	[LotteryDrawId] [nvarchar](100) NULL,
	[DefineDataJson] [nvarchar](max) NULL,
	[LotteryDrawJson] [nvarchar](max) NULL,
	[GameId] [int] NOT NULL,
	[CreatorId] [bigint] NOT NULL,
	[PlayerId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Games]    Script Date: 12/19/2025 4:52:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Games](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GameType] [int] NOT NULL,
	[CreatorId] [bigint] NOT NULL,
	[GroupId] [bigint] NOT NULL,
	[ThreadId] [int] NULL,
	[GameStatus] [int] NOT NULL,
	[FreezeTip] [nvarchar](500) NULL,
	[StartDateTime] [datetime2](7) NULL,
	[EndDateTime] [datetime2](7) NULL,
	[Profit] [decimal](18, 2) NOT NULL,
	[PrizePool] [decimal](18, 2) NOT NULL,
	[Url] [nvarchar](200) NULL,
	[BetStartLimit] [decimal](18, 2) NOT NULL,
	[BetEndLimit] [decimal](18, 2) NOT NULL,
	[BotApiToken] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlatformFinanceHistory]    Script Date: 12/19/2025 4:52:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlatformFinanceHistory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FinanceStatus] [int] NOT NULL,
	[Time] [datetime2](7) NOT NULL,
	[Type] [int] NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[Remark] [nvarchar](500) NULL,
	[CreatorId] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlatformOperateHistory]    Script Date: 12/19/2025 4:52:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlatformOperateHistory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Time] [datetime2](7) NOT NULL,
	[PlatformUserRole] [int] NOT NULL,
	[OperateUserId] [bigint] NOT NULL,
	[Remark] [nvarchar](500) NULL,
	[CreatorId] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Platforms]    Script Date: 12/19/2025 4:52:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Platforms](
	[CreatorId] [bigint] NOT NULL,
	[GroupId] [bigint] NULL,
	[ChannelId] [bigint] NULL,
	[BotId] [bigint] NULL,
	[Language] [int] NOT NULL,
	[PlatformStatus] [int] NOT NULL,
	[FreezeTip] [nvarchar](500) NULL,
	[BotApiToken] [nvarchar](200) NOT NULL,
	[TronWalletAddress] [nvarchar](200) NULL,
	[TronWalletPrivateKey] [nvarchar](200) NULL,
	[EthereumWalletAddress] [nvarchar](200) NULL,
	[EthereumWalletPrivateKey] [nvarchar](200) NULL,
	[FinancerId] [bigint] NULL,
	[ServerIds] [nvarchar](max) NULL,
	[PrivateKey] [nvarchar](64) NOT NULL,
	[IsHidePrivateKey] [bit] NOT NULL,
	[RebateFeeRate] [decimal](18, 2) NOT NULL,
	[SecurityDeposit] [decimal](18, 2) NOT NULL,
	[HandlingFee] [decimal](18, 2) NOT NULL,
	[NewPlayerFirstTimeGiveBonus] [decimal](18, 2) NOT NULL,
	[RechargeBonusPercentage] [decimal](18, 2) NOT NULL,
	[SignReceiveBonus] [decimal](18, 2) NOT NULL,
	[DailyTasksGiveBonus] [decimal](18, 2) NOT NULL,
	[PromoteFirstTimeRechargeBonus] [decimal](18, 2) NOT NULL,
	[FirstTimeWithdrawGiveBonus] [decimal](18, 2) NOT NULL,
	[ResurrectionRechargeGiveBonus] [decimal](18, 2) NOT NULL,
	[Dividend] [decimal](18, 2) NOT NULL,
	[Balance] [decimal](18, 2) NOT NULL,
	[IsStopWithdraw] [bit] NOT NULL,
	[FinancialOperationAmount] [decimal](18, 2) NOT NULL,
	[Profit] [decimal](18, 2) NOT NULL,
	[WalletTotalBalance] [decimal](18, 2) NOT NULL,
	[Reserves] [decimal](18, 2) NOT NULL,
	[IsGrouperAutoSend] [bit] NOT NULL,
	[IsNoChatting] [bit] NOT NULL,
	[IsDeleteBetRecord] [bit] NOT NULL,
	[GrouperAutoSendBetStartLimit] [decimal](18, 2) NOT NULL,
	[GrouperAutoSendBetEndLimit] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CreatorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlayerFinanceHistory]    Script Date: 12/19/2025 4:52:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlayerFinanceHistory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FinanceStatus] [int] NOT NULL,
	[Time] [datetime2](7) NOT NULL,
	[Type] [int] NOT NULL,
	[Name] [nvarchar](200) NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[BonusAmount] [decimal](18, 2) NOT NULL,
	[CommissionAmount] [decimal](18, 2) NOT NULL,
	[Remark] [nvarchar](500) NULL,
	[OtherId] [int] NOT NULL,
	[GameId] [int] NULL,
	[GameMessageId] [int] NULL,
	[PlayerId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Players]    Script Date: 12/19/2025 4:52:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Players](
	[PlayerId] [int] NOT NULL,
	[CreatorId] [bigint] NOT NULL,
	[UserId] [bigint] NOT NULL,
	[IsTryModel] [bit] NOT NULL,
	[PrivateKey] [nvarchar](64) NOT NULL,
	[IsHidePrivateKey] [bit] NOT NULL,
	[PlayerStatus] [int] NOT NULL,
	[FreezeTip] [nvarchar](500) NULL,
	[Time] [datetime2](7) NOT NULL,
	[Balance] [decimal](18, 2) NOT NULL,
	[Integral] [int] NOT NULL,
	[RewardBalance] [decimal](18, 2) NOT NULL,
	[TronWalletAddress] [nvarchar](200) NULL,
	[EthereumWalletAddress] [nvarchar](200) NULL,
	[InviterId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PlayerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[s]    Script Date: 12/19/2025 4:52:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[s](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [bigint] NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[TronWalletAddress] [nvarchar](200) NULL,
	[EthereumWalletAddress] [nvarchar](200) NULL,
	[Proportion] [float] NOT NULL,
	[CreatorId] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Games] ADD  DEFAULT ((0)) FOR [PrizePool]
GO
ALTER TABLE [dbo].[Games] ADD  DEFAULT ((5)) FOR [BetStartLimit]
GO
ALTER TABLE [dbo].[Games] ADD  DEFAULT ((1000)) FOR [BetEndLimit]
GO
ALTER TABLE [dbo].[PlatformFinanceHistory] ADD  DEFAULT ((0)) FOR [Amount]
GO
ALTER TABLE [dbo].[Platforms] ADD  DEFAULT ((0)) FOR [Language]
GO
ALTER TABLE [dbo].[Platforms] ADD  DEFAULT ((0)) FOR [PlatformStatus]
GO
ALTER TABLE [dbo].[Platforms] ADD  DEFAULT ((0)) FOR [IsHidePrivateKey]
GO
ALTER TABLE [dbo].[Platforms] ADD  DEFAULT ((0.03)) FOR [RebateFeeRate]
GO
ALTER TABLE [dbo].[Platforms] ADD  DEFAULT ((0)) FOR [Dividend]
GO
ALTER TABLE [dbo].[Platforms] ADD  DEFAULT ((0)) FOR [Balance]
GO
ALTER TABLE [dbo].[Platforms] ADD  DEFAULT ((0)) FOR [IsStopWithdraw]
GO
ALTER TABLE [dbo].[Platforms] ADD  DEFAULT ((0)) FOR [FinancialOperationAmount]
GO
ALTER TABLE [dbo].[Platforms] ADD  DEFAULT ((0)) FOR [Profit]
GO
ALTER TABLE [dbo].[Platforms] ADD  DEFAULT ((0)) FOR [WalletTotalBalance]
GO
ALTER TABLE [dbo].[Platforms] ADD  DEFAULT ((0)) FOR [Reserves]
GO
ALTER TABLE [dbo].[Platforms] ADD  DEFAULT ((0)) FOR [IsGrouperAutoSend]
GO
ALTER TABLE [dbo].[Platforms] ADD  DEFAULT ((0)) FOR [IsNoChatting]
GO
ALTER TABLE [dbo].[Platforms] ADD  DEFAULT ((0)) FOR [IsDeleteBetRecord]
GO
ALTER TABLE [dbo].[Platforms] ADD  DEFAULT ((5)) FOR [GrouperAutoSendBetStartLimit]
GO
ALTER TABLE [dbo].[Platforms] ADD  DEFAULT ((100)) FOR [GrouperAutoSendBetEndLimit]
GO
ALTER TABLE [dbo].[PlayerFinanceHistory] ADD  DEFAULT ((0)) FOR [Amount]
GO
ALTER TABLE [dbo].[PlayerFinanceHistory] ADD  DEFAULT ((0)) FOR [BonusAmount]
GO
ALTER TABLE [dbo].[Players] ADD  DEFAULT ((0)) FOR [IsTryModel]
GO
ALTER TABLE [dbo].[Players] ADD  DEFAULT ((0)) FOR [IsHidePrivateKey]
GO
ALTER TABLE [dbo].[Players] ADD  DEFAULT ((0)) FOR [PlayerStatus]
GO
ALTER TABLE [dbo].[Players] ADD  DEFAULT ((0)) FOR [Balance]
GO
ALTER TABLE [dbo].[Players] ADD  DEFAULT ((0)) FOR [Integral]
GO
ALTER TABLE [dbo].[Players] ADD  DEFAULT ((0)) FOR [RewardBalance]
GO
ALTER TABLE [dbo].[PlatformFinanceHistory]  WITH CHECK ADD FOREIGN KEY([CreatorId])
REFERENCES [dbo].[Platforms] ([CreatorId])
GO
ALTER TABLE [dbo].[PlatformOperateHistory]  WITH CHECK ADD FOREIGN KEY([CreatorId])
REFERENCES [dbo].[Platforms] ([CreatorId])
GO
ALTER TABLE [dbo].[PlayerFinanceHistory]  WITH CHECK ADD FOREIGN KEY([PlayerId])
REFERENCES [dbo].[Players] ([PlayerId])
GO
ALTER TABLE [dbo].[Players]  WITH CHECK ADD FOREIGN KEY([CreatorId])
REFERENCES [dbo].[Platforms] ([CreatorId])
GO
ALTER TABLE [dbo].[s]  WITH CHECK ADD FOREIGN KEY([CreatorId])
REFERENCES [dbo].[Platforms] ([CreatorId])
GO
USE [master]
GO
